h1, h2, h4 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Droid Serif', Serif;
}

ul {
    list-style-type: none;
}

li {
    font-size: 28px;
}

#about, #banner {
  background-color: #8CB4CD;
}

#portfolio, #skills {
    background-color: #eceff1;
}

#mainNav{
    font-family: 'Roboto', sans-serif;
}

#profilePic {
    border-radius: 50%;
}

.portfolio-item:hover {
    background-color: #8CB4CD;
}
